.contentDescription {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: var(--spacing-xxl);
  width: 50%;
}

.heading {
  font-size: 3em;
}

.subheading {
  font-size: 0.7em;
  color: var(--color-accent);
  letter-spacing: 3px;
}

.description {
  font-size: 1em;
  color: var(--text-muted);
  line-height: 1.5em;
  font-weight: 100;
}

@media (max-width: 768px) {
  .contentDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xxl);
  }
  h1.heading {
    font-size: 1.6em;
    }
  h3.subheading {
    font-size: 0.6em;
  }
  p.description {
    font-size: 0.8em;
  }
}
