.navlinks{
    display: flex;
    font-size: 0.8em;
    gap: var(--spacing-xxl);
}



@media (max-width: 426px) {
    .navlinks {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-md);
        font-size: 0.6em;
        position: absolute;
        right: 10%;
        top: 35px;
        background-color: var(--color-bg-transparent);
        padding: var(--spacing-xs);
        border: 1px solid rgba(75, 75, 75, 0.387);
        text-align: right;
    }

    .menuClosed {
        display: none;
    }
}
