


   
   div img{
    width: 150px;
    padding: var(--spacing-lg);
    background-color: var(--background-color-faded);
    border-radius: 10px;
    opacity: 0.6;
    transition: all ease-in-out 0.3s;

   }

   div img:hover{
    opacity: 1;
    padding:  var(--spacing-sm);
   }
   

   .imageGallery{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
  }

  .imageGallery a{
    width: 150px;
    height: 150px;
  }
  
 
  
  .image img{
    width: 400px;
    background: var(--background-color-faded);
    border-radius: 20px;
  }
  
  
