div.image,
div.imageGallery {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: var(--spacing-lg);
}

div img {
  width: 140px;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  opacity: 0.6;
  transition: all ease-in-out 0.3s;
  padding: var(--spacing-lg);
}

div img:hover {
  opacity: 1;
  padding: var(--spacing-sm);
}



.imageTitle {
  font-size: 0.7em;
  color: var(--color-secondary);
  letter-spacing: 1.5px;
  text-align: center;
}

.imageGallery a {
  width: fit-content;
  height: fit-content;
  text-decoration: none;
}

.image img {
  width: 350px;
  background: var(--color-bg-transparent);
  /* border-radius: 20px; */
}


a img[alt="My Photo"] + *,
a img[alt="404 Page not Found"] + * {
  display: none;
}








@media (max-width: 769px) {
  .image img {
    width: 220px;
  }

  .imageGallery img{
    width: 100px;
  }
}

@media (max-width: 426px) {
  div.image,
div.imageGallery {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

div .image{
  justify-content: center;
  
}
  .image img {
    width: 160px;
  }
  .imageGallery img {
    width: 70px;
  }

  .imageTitle {
    font-size: 0.6em;
    font-weight: 600;
  }
  
}


@media (max-width: 376px) {
  .imageGallery img {
    width: 50px;
  }
}
