div.image,
div.imageGallery {
  width: 50%;
}

div img {
  width: 185px;
  padding: var(--spacing-lg);
  background-color: var(--color-bg-transparent);
  box-shadow: 0 0 10px black;
  /* border-radius: 10px; */
  opacity: 0.6;
  transition: all ease-in-out 0.3s;
}

div img:hover {
  opacity: 1;
  padding: var(--spacing-sm);
}

.imageGallery {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
}

.imageTitle {
  font-size: 0.7em;
  color: var(--color-secondary);
  letter-spacing: 1.5px;
  text-align: center;
}

.imageGallery a {
  /* width: 150px; */
  width: fit-content;
  /* height: 150px; */
  height: fit-content;
  text-decoration: none;
}

.image img {
  width: 400px;
  background: var(--color-bg-transparent);
  /* border-radius: 20px; */
}

a img[alt="My Photo"] + *,
a img[alt="404 Page not Found"] + * {
  display: none;
}

@media (max-width: 768px) {
  .image img {
    width: 200px;
  }
  div img {
    width: 90px;
  }

  .imageTitle {
    font-size: 0.6em;
    font-weight: 600;
  }
  .imageGallery {
    gap: 10px;
    grid-template-columns: repeat(2, 2fr);
  }
}
