@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --primary-color: rgb(152, 177, 152);
  --secondary-color: rgb(24, 42, 35);
  --accent-color: rgb(186, 62, 0);
  --accent-color-faded: rgba(255, 68, 0, 0.175);
  --spacing-xs: 4px;
  --spacing-sm: 7px;
  --spacing-md: 10px;
  --spacing-lg: 14px;
  --spacing-xl: 17px;
  --spacing-xxl: 20px;
  --spacing-xxxl: 50px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 1px solid white; */
}

html,
body {
  font-family: Ubuntu, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(
    var(--secondary-color),
    black,
    var(--secondary-color),
    black
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  color: var(--primary-color);
  overflow: hidden;
}

#root {
  height: 100%;
}

/* --------> navigation */

div.navbar {
  padding: var(--spacing-sm) 0 var(--spacing-sm) 0;
  background-color: var(--secondary-color);
  border-bottom: 1px solid var(--accent-color-faded);
}

div.contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contents a {
  text-decoration: none;
  color: grey;
  border: 1px solid transparent;
  border-radius: 20px;
  padding: var(--spacing-sm);
  margin-bottom: 0;
  transition: all ease-in-out 0.3s;
}

.contents .navlinks a {
  font-size: smaller;
  font-weight: 900;
  font-family: Poiret One;
  letter-spacing: 2px;
}

.contents .navlinks {
  display: flex;
}

a:hover {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.331);
  box-shadow: 0 0 5px rgba(95, 94, 94, 0.568);
}

span.colorchange {
  color: var(--accent-color);
}

.logo {
  font-weight: 900;
  font-size: large;
}

/* --------> main */
.main-container {
  width: 70%;
  margin: 0 auto;
  height: calc(100% - 64.4px);
  display: flex;
  align-items: center;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 100%;
  gap: 100px;
  padding: 0 var(--spacing-sm);
}

h1.main-section-heading {
  margin-bottom: var(--spacing-xxl);
  font-size: 3.5rem;
  margin-bottom: 10px;
}
.hero-subheading {
  color: var(--accent-color);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1em;
  font-weight: bolder;
  border-top: 1px solid var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
  display: inline-block;
  padding: var(--spacing-xs) 0 var(--spacing-xs) 0;
  letter-spacing: 7.7px;
}

.description {
  font-family: sans-serif;
  margin-top: var(--spacing-xxl);
  color: grey;
  font-size: 1rem;
  line-height: 25px;
  letter-spacing: 2px;
}

button.learn-more {
  padding: var(--spacing-md) 115px;
  font-size: 1em;
  margin-top: 20px;
  background: var(--accent-color);
  color: rgb(204, 204, 204);
  border: 1px solid var(--accent-color);
  font-weight: 900;
  border-radius: 5px;
  cursor: pointer;
}

button.learn-more:hover {
  color: white;
  box-shadow: 0 0 7px orangered;
  transition: all ease-in-out 0.2s;
  border: 1px solid orangered;
}

.right-intro {
  /* background-color: var(--secondary-color); */
  /* width: fit-content; */
  /* padding: var(--spacing-xs); */
  /* align-self: center; */
  width: 40%;
  max-height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-template-rows: repeat(2, 2fr);

}

img.images-lg {
  width: 400px;
  vertical-align: middle;
  border-radius: 10px;
  border: 1px solid var(--accent-color-faded);
  background-color: rgba(255, 255, 255, 0.068);

}

img.images-sm {
  width: 170px;
  /* vertical-align: middle; */
  border-radius: 30px;
  border: 1px solid var(--accent-color-faded);
  /* background-color: rgba(255, 255, 255, 0.068); */
  margin: var(--spacing-sm);
}
