:root {

    /* Spacings */
  --spacing-xs: 4px;
  --spacing-sm: 7px;
  --spacing-md: 10px;
  --spacing-lg: 14px;
  --spacing-xl: 17px;
  --spacing-xxl: 20px;
  --spacing-xxxl: 50px;

  /* Transitions */
  --smooth-transition: ease-in-out 0.3s all;

  /* Colors */
  --color-bg: #1f2235; /* Dark background color */
  --color-bg-transparent: #2122338e; /* Dark background color */
  --color-primary: #a9a9a9; /* Light text color */
  --color-secondary: #707882; /* Secondary text color */
  --color-accent: #8d002f; /* Icons, buttons, section headings */
  --color-accent-faded: #eb155c5d; /* Icons, buttons, section headings */
  --text-muted: rgb(92, 92, 92);


  /* Fonts */
  --font-poppins: "Poppins", "Montserrat", sans-serif; /* Main heading, Nav */
  --font-grotesk: "Space Grotesk", "Outfit", sans-serif; /* Body text, small text */
}
